* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* heading and paragraph */
.toge {
  height: 450px;
  background-color: #1b004e;
  text-align: center;
  color: #fff;
}
.headings h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 3.13em;
  line-height: 1.5em;
  padding: 92px 0 14px 0;
}
.headings p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 0.8em;
  padding-bottom: 50px;
}
/* input and button */
.int {
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 37px;
  width: 578px;
  height: 74px;
  outline: none;
  margin: 0 auto;
}
.ema {
  background-color: transparent;
  /* margin-left: 30px; */
  text-align: center;
  font-size: 0.9em;
  border: none;
}
.sub {
  width: 139px;
  height: 62px;
  background-color: #eb5757;
  border-radius: 31px;
  border: none;
  color: #fff;
  margin: 4px 5px 4px 0px;
}
footer {
  background-color: #470165;
  color: #fff;
  height: 539.45px;
  padding: 81px;
}
.footn {
  display: flex;
  justify-content: space-evenly;
}
.ftn p {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "Inter", sans-serif;
}
.ftn .hdone {
  font-weight: 600;
  font-size: 1.2em;
}
hr {
  margin: 60px 0px 40px 0px;
  border: 1px solid #bcbcbc;
}
.cpyrt {
  display: flex;
  justify-content: space-between;
}
.icn i {
  border: 1px solid #616161;
  border-radius: 10px;
  padding: 8px;
}
.icn i:hover {
  background-color: #eb5757;
}
@media only screen and (max-width: 425px) {
  .toge {
    height: 300px;
  }
  .headings h1 {
    font-size: 1.5em;
    text-align: center;
  }
  .headings p {
    font-size: 0.8em;
    text-align: center;
  }
  .int {
    border: 2px solid #fff;
    border-radius: 37px;
    width: 290px;
    height: 50px;
    margin: 0 auto;
  }
  .sub {
    width: 139px;
    height: 42px;
    margin: 3px 2px 3px 0px;
  }
  footer {
    background-color: #470165;
    color: #fff;
    height: 1200px;
    padding: 81px;
  }
  .footn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 40px;
  }
  hr {
  margin: 30px 0px 20px 0px;
  width: 100%;
}